*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box-item{
    width: 80%;
    height: 400px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    gap: 30px;
}
.box-item-img {
    width: 45%;
    height: 100%;
}
.box-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.box-item-deck{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions-left{
    display: flex;
    gap: 20px;
}
.box-actions span{
    font-size: 22px; 
    cursor: pointer;
}